/* Add any CSS styles here */
body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    background-color: whitesmoke;
    color: black;
    margin: 20px;
}

header {
    text-align: left;
    margin-bottom: 10px; /* Adjust margin as needed for the header */
}

svg {
    margin-top: 10px; /* Adjust margin as needed for the chart */
}s

h1 {
    color: black;
    font-size: 2em; /* Increase font size for the main header */
    margin-bottom: 0; /* No margin at the bottom of the main header */
    transition: color 0.3s; /* Smooth transition for color change on hover */
}

p {
    line-height: 1.5;
    font-size: 1.2em; /* Increase font size for the subheader */
    margin-top: 0; /* sNo margin at the top of the subheader */
    margin-bottom: 20px; /* Adjust margin as needed for the subheader */
    font-weight: bold;
    transition: color 0.3s; /* Smooth transition for color change on hover */
}

/* Hover styles */
h1:hover,
p:hover {
    color: #007bff; /* Change the color on hover */
}

#attribution {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
